:root {
  --color-brand-primary: #b74926;
  --color-body-text: #1f2c33;
  --color-brand-primary-hover: #ea6b44;
  --font-sans: var(--font-sans);
  --font-mono: "Fira Mono", monospace;
}

body {
  background-color: #f5f2e1;
  color: var(--color-body-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  color: var(--color-body-text);
}

p,
a,
li {
  font-family: "Fira Mono", monospace;
}

a {
  color: var(--color-brand-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-brand-primary);
  text-decoration: none;
}

h1 {
  font-size: calc(2.986rem + 1vw);
}
h2 {
  font-size: calc(2.488rem + 1vw);
}
h3 {
  font-size: calc(2.074rem + 1vw);
}
h4 {
  font-size: calc(1.728rem + 1vw);
}
h5 {
  font-size: calc(1.44rem + 1vw);
}
h6 {
  font-size: calc(1.2rem + 1vw);
}
p {
  font-size: calc(1rem + 1vw);
}
small {
  font-size: calc(0.833rem + 1vw);
}

.fira-mono {
  font-family: "Fira Mono", monospace;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

form {
  display: flex;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media screen and (prefers-reduced-motion: reduce) {
    display: none;
  }
}

.button-primary {
  background-color: var(--color-brand-primary);
  border: none;
  padding: 10px 14px;
  position: relative;
  color: white;
  transition: 0.3s ease-in-out all;
  line-height: 1;
  text-decoration: none;
}

.button-primary:active {
  animation-name: clickAnimation;
  animation-duration: 0.2s;
}
.button-primary:active::after {
  display: none;
}

.button-primary::after {
  transition: 0.3s ease-in-out all;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  bottom: -10px;
  z-index: -1;
  left: -10px;
}

.button-primary:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #eaeaea;
  border-radius: 8px;

  svg {
    fill: #eaeaea;
  }
}
.button-primary:hover::after {
  border-radius: 8px;

  transform: translate(10px, -10px);
}

.button-secondary {
  background-color: transparent;
  border: 1px solid var(--color-brand-primary);
  padding: 10px 14px;
  position: relative;
  color: var(--color-brand-primary);
  transition: 0.3s ease-in-out all;
  text-decoration: none;

  svg {
    fill: var(--color-brand-primary);
  }

  &:hover {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2);
    color: var(--color-brand-primary-hover);
    border-color: var(--color-brand-primary-hover);

    svg {
      fill: var(--color-brand-primary-hover);
    }
  }
}

.button-secondary-active {
  box-shadow: rgba(100, 100, 111, 0.2);
  color: var(--color-brand-primary-hover);
  border-color: var(--color-brand-primary-hover);

  svg {
    fill: var(--color-brand-primary-hover);
  }
}

.button-invite {
  font-family: var(--font-sans);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.1em;
  font-size: calc(2rem + 1vw);
}

.button-link {
  font-family: var(--font-sans);
  font-weight: 200;
  font-style: italic;
  font-size: calc(0.6rem + 1vw);
}

.button-link:hover {
  cursor: pointer;
  color: var(--color-brand-primary);
  text-decoration: underline;
}

.spouse {
  font-family: var(--font-sans);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.1em;
  font-size: calc(1.5rem + 1vw);
}

.initials {
  display: block;
  width: 100%;
  height: auto;
  margin: 25vh auto 15vh;
  max-width: 50vh;
}

.initials.has-responded {
  margin: 10vh auto 5vh;
}

.head-initials {
  display: block;
  width: 100%;
  height: auto;
  margin: 2rem auto 2rem;
  max-width: 6vh;
}

.small-initials {
  display: block;
  width: 100%;
  height: auto;
  margin: 10vh auto 5vh;
  max-width: 20vh;

  @media screen and (max-height: 800px) {
    margin: 5vh auto 5vh;
    max-width: 10vh;
  }
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.button-link {
  font-family: var(--font-sans);
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
  font-size: calc(0.6rem + 1vw);
  border: 1px solid var(--color-brand-primary);
  padding: 0.5rem 1rem;
  min-width: 8rem;
  text-align: center;
}

.button-link:hover {
  color: var(--color-brand-primary);
  text-decoration: underline;
}
.edit-page {
  position: relative;
  overflow: hidden;
}

.edit-page::after {
  opacity: 0.6;
  content: "";
  position: absolute;
  height: 25rem;
  width: 25rem;
  left: -11rem;
  bottom: -12rem;
  background: url("/half-circles-lines.svg") no-repeat right bottom;
  background-size: contain;
}

.calendar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    order: 2;
    flex-direction: row;
    gap: 2rem;
  }
}

.description-body {
  p {
    font-size: 1.4em; /* 16px */
    /* font-family: var(--font-sans); */
    line-height: 1.6;
    padding-bottom: 0.7em;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 10px 0px;
    color: #3d4c5c;
    font-family: var(--font-sans);
    font-weight: 600;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.6em;
  }

  p:first-of-type:first-letter {
    font-size: 4em;
    font-weight: bold;
    float: left;
    padding-right: 6px;
    position: relative;
    top: -0.5em;
  }
  p:first-of-type:first-line {
    line-height: 1;
    padding: 0.5em 0;
  }

  .post > p {
    padding: 10px 0px 10px 40px;
  }

  ul {
    padding-bottom: 1.8em;
  }

  blockquote {
    background-color: #eaeaea;
    font-family: "Merriweather", serif;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 12px 0 12px 40px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .edit-page::after {
    position: fixed;
    opacity: 0.9;
  }
}

details {
  user-select: none;
  & summary svg {
    transform: rotate(90deg);
  }

  h6 {
    font-size: calc(1.1rem + 1vw);
    margin-bottom: 0.5rem;
  }
}
details[open] {
  & summary svg {
    transform: rotate(-90deg);
  }
}

details[open] summary ~ * {
  animation: ease-opacity-t-b 0.5s ease;
}

summary {
  cursor: pointer;
  font-family: var(--font-mono);
  color: var(--color-brand-primary);
}
svg {
  transition: all 0.3s;
}

/* TO JE TO - TO JE TAJ */
summary::-webkit-details-marker {
  display: none;
}
